.input-task-box {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-task-box input {
    width: 80%;
    padding: 2px;

}

.itb-wide-container {
    width: 75%
}
