.inspire-quote {
    width: 75%;     /* same as itb-wide-container */
    display: flex;
    flex-direction: column;
}

.inspire-quote .quote-text {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: italic;
    color: hsla(0, 2%, 9%, 0.75);
    font-size: 12pt;

}

.inspire-quote .quote-author {
    width: 75%;     /* this is rather arbitrary, however */
    display: flex;
    flex-direction: row-reverse;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: italic;
    font-size: 9pt;
    color: hsla(0, 3%, 46%, 0.5)

}