.logo-image {
    float: right;
    cursor: pointer;
    margin: 20px;
    justify-self: start;
}

.Navbar {
  background-color: #b1eaff;
  height: 17vh;  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}