.App {
  /* aligns side and main container */
  text-align: center;
  display: flex;
  flex-direction: row;  
  
}

.Box {
  background-color: #7fffd4;  
}

.container.main {
  /* aligns navbar and rest of boxes together */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.container.side-menu {
  background-color: hsla(54, 100%, 50%, 50%);
  width: 17vw;
  height: 100vh;

  
  /* display: none; */
}


.Navbar {
  background-color: #b1eaff;
  height: 17vh;  
}

.red-color-text {
  color: red;
}

