@media screen and (max-width: 400px) {
    .profilePicDim {
        width: 64px;
    }
}


@media screen and (max-width: 800px) and (min-width: 401px) {
    .profilePicDim {
        width: 132px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 801px) {
    .profilePicDim {
        width: 268px;
    }
}


.ct-chart-line {
    overflow-y: visible;
    overflow-x: visible;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 10px;
}

.userDataContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
  
    padding-left: 2px;
}

.profileSuperContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
/* Play with this for zoom  */
/* img {
  width: 64px;
  height: 100%
  object-fit: cover;
  object-position: left;
} */


